<span>
  <h2 style="text-align: center;margin-top:100px">SERVICE LIST</h2>
   <button  class="btn btn-primary btn-lg" routerLink="/service/create">Create Service</button>
  <hr>
  <!--  <div class="input-group mb-3">-->
  <!--    <input type="text" class="form-control" placeholder="Input ID" aria-label="Input ID"-->
  <!--           aria-describedby="button-addon2">-->
  <!--    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>-->
  <!--  </div>-->
  <!--  <hr>-->
  <div class="form-group col-md-4">
  <input style="margin-left: 500px" type="text" class="form-control"  placeholder="Enter word to search" [(ngModel)]="searchedKeyword">
</div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Service ID</th>
    <th scope="col">Service Code</th>
    <th scope="col">Service Name</th>
    <th scope="col">Area</th>
    <th scope="col">Number Of Floor</th>
    <th scope="col">Max People</th>
    <th scope="col">Price</th>
    <th scope="col">Rent Type</th>
    <th scope="col">Status</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody style="background-color: #f7f5f2">
  <tr *ngFor="let service of serviceList | filter:searchedKeyword ">
    <td>{{service.id}}</td>
    <td>{{service.code}}</td>
    <td>{{service.name}}</td>
    <td>{{service.area}}</td>
    <td>{{service.numberFloor}}</td>
    <td>{{service.maxPeople}}</td>
    <td>{{service.price}}</td>
    <td>{{service.rentType.name}}</td>
    <td>{{service.status}}</td>
    <td>
      <button class="btn btn-primary btn-warning" type="button"><a style="color: black">Edit</a>
      </button>
    </td>
    <td>
      <button class="btn btn-primary btn-danger">
        <a style="color: black" routerLink="/service/delete/{{this.service.id}}">Delete</a>
      </button>
    </td>
  </tr>
  </tbody>
</table>
