<h4 style="text-align: center; color:#A86963;margin-top:10px">C0921G1 : Võ Nhật Anh</h4>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 bg1">
      <!--            <h2 class="font-monospace" style="color:#8C7659"><strong>furama</strong></h2>-->
      <img src="https://i.pinimg.com/564x/00/50/59/005059f2ae3968ada30cc7150fd6d0ab.jpg" width="100"
           alt="CodeGym" id="logo" data-height-percentage="70" data-actual-width="1265"
           data-actual-height="218.094">
    </div>
    <div class="col-lg-8 bg2">
      <div class="dropdown">
        <button class="dropbtn">KHUYẾN MÃI</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-chevron-down icon-color" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        <div class="dropdown-content">
          <a href="#">10%</a>
          <a href="#">50%</a>
          <a href="#">75%</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">KHÁCH SẠN</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-chevron-down icon-color" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        <div class="dropdown-content">
          <a href="#">Hotel Room</a>
          <a href="#">Resort</a>
          <a href="#">Dịch Vụ</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">KHÁM PHÁ</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-chevron-down icon-color" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        <div class="dropdown-content">
          <a href="#">Điểm Đến</a>
          <a href="#">Chuyên Môn</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn ">TIN TỨC</button>
        <div class="dropdown-content">
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">GIỚI THIỆU</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-chevron-down icon-color" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        <div class="dropdown-content">
          <a href="#">Giới Thiệu</a>
          <a href="#">Liên Hệ</a>
          <a href="#">Tuyển Dụng</a>
        </div>
      </div>
      <svg style="margin-left: 40px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-search icon-color" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </div>
  </div>
</div>

