<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p style="text-align:center">
        <img src="https://i.pinimg.com/564x/00/50/59/005059f2ae3968ada30cc7150fd6d0ab.jpg" width="150"
             alt="CodeGym" id="logo" data-height-percentage="70" data-actual-width="1265"
             data-actual-height="218.094">
      </p>
      <h3 style="text-align:center"><strong>CREATE CUSTOMER PAGE</strong></h3>
      <p style="text-align:center;background-color: #F0926B">
        <a class="s-nav-item s-font-body selected" style="color:black;margin-right:10px">ABOUT</a>
        <a class="s-nav-item s-font-body selected" style="color:black;margin-right:10px">BLOG</a>
        <a class="s-nav-item s-font-body selected" style="color:black ;margin-right:10px">CONTACT</a>
        <a class="s-nav-item s-font-body selected" style="color:black ;margin-right:10px">CONNECT</a>
      </p>

    </div>
  </div>
</div>
<hr>
<div style="margin-left: 10px">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label s-text-color-black">ID</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="VD: FR1, FR2, FR3,...">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label s-text-color-black">Tên dịch vụ</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="VD: GOLF">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput3" class="form-label s-text-color-black">Số điện thoại</label>
    <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="VD : (+84) xxxxxxx">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput4" class="form-label s-text-color-black">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput5" class="form-label s-text-color-black">Địa chỉ</label>
    <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng">
  </div>
</div>
<p style="text-align:center">
  <button type="button" class="btn btn-success">Create</button>
</p>
