<!--Footer-->
<div class="footer-dark" style="margin-top:80px">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Contact</h3>
          <ul>
            <li><a href="#">Võ Nhật Anh</a></li>
            <li><a href="#">Codegym</a></li>
            <li><a href="#">C0921G1</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text1">
          <h3>Company Name</h3>
          <p>Vui lòng liên hệ để được hỗ trợ về truyền thông, báo đài.</p>
          <p>THEO DẤU TRẢI NGHIỆM TẠI FURAMA</p>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook">

        </i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
          <a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">Contact : vonhatanh462003@gmail.com</p>
    </div>
  </footer>
  <div>
